.skip-to-main {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 100;
  background-color: var(--bg-color);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-300%);
  transition: transform 0.2s;

  &:focus {
    outline: none;
    transform: translateY(0);
  }
}
