.title {
  font-size: 1.65rem;
  font-family: var(--font-secondary);

  &--main {
    position: relative;
    margin-right: 1em;
    font-size: min(2.15rem, 9vw);

    &,
    &::after {
      transition: transform 0.2s ease-in-out;
    }

    &:hover {
      transform: translateX(0.4em);
    }

    &:hover::after {
      transform: translateY(-0.3em) rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: -0.75rem;
      background-image: url("/assets/icons/hat.svg");
      background-size: contain;
      background-repeat: no-repeat;
      width: 1.25em;
      height: 1.25em;
      margin-left: 0.5rem;
    }
  }
}
